.env
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
dev_user_uploads/
pytest_cache/