{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome</h1>
<br>
<p>Chapp assistants guide your customers through a user journey that you define - no code needed!</p>
<br>
<ul>
    <li>Chapp assistants can infer and perform actions on behalf of the user, doing most of the thinking for the customer.</li>
    <li>Add memory to chapp about your website and offerings to enhance your customer experience.</li>
    <li>Unlike other assistants, chapp assistants are aware of their capabilties and limitations. They won't lead your users down an empty road.</li>
    <li>Lead your users from contact to sale with chapp.</li>
</ul>
{% endblock %}